.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.register-title {
  font-size: 50px;
}

.register-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin: 10px 0;
}

.register-input {
  padding: 10px;
  background-color: white;
  border: none;
}

.register-register-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.register-login-button {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: black;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

@media only screen and (max-width: 720px) {
  .register {
    height: calc(100vh - 80px);
  }

  .register-login-button {
    top: 100px;
  }
}
